# Ignore base de données DuckDB
*.duckdb
db/data/movies.duckdb

# Ignore CSV de données brutes
db/data/ratings.csv
db/data/ratings_small.csv
db\data\movies_metadata.csv
db\data\links.csv

# Ignore fichiers de modèles
models/pivot_table.pkl
models/svd_model.pkl
*.pkl

# Ignore fichiers de git-filter-repo
git-filter-repo.txt

# Ignore environnements virtuels
venv/
.venv/

# Ignore fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore dossiers de build/déploiement
dist/
build/
*.egg-info/

# Ignore dossiers spécifiques au projet
backend/notebooks/

# Ignore modèles et pivot
models/*.pkl

build_and_push_images.sh
start_app.bat

data
db\data